# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Datos
data/raw/*.csv
data/processed/*.csv
*.xlsx

# Modelos entrenados
models/**/*.pkl
models/**/*.joblib

# Resultados
results/plots/*.png
results/metrics/*.csv

# Virtual environments
venv/
env/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

# Streamlit
.streamlit/


../project_ml_under5/